.dashboard {
  border: 4px double black;
  background: #fc3;
}


.block {
  color: #000;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  /*overflow: hidden;*/
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background: inherit;
  position: relative;
}

.button-block {
  position: fixed;
  right: 50px;
  bottom: 100px;
  width:347px;
  height:160px;
  display: block;
  z-index:99999999;
}

.title {
  font-size: 1.4em;
  font-weight: 300;
  color: #222;
  padding: 0;
  background: rgba(235,235,235,0.85);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}

.content {
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,0.66);
}

.work-space {

}

.window {
  display: inline-block;
  border-width: 5px;
  border-style: ridge;

}
