.panel {
  height: 113px;
  width: 1200px;
  position: relative;
}

.background {
  height: inherit;
  width: inherit;
  background: linear-gradient(to top, #294531, #637d6b);
  position: absolute;
  overflow: hidden;
}

.right-background {
  height: 180px;
  width: inherit;
  background-color: white;
  border-top-left-radius: 100px 150px;
  border-bottom-left-radius: 100px 150px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 43%;
  top: -10%;
}
